* {
    margin: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary-highlight-color: #0059B1;
    --secondary-highlight-color: #0075E8;
    --quotes-font-color: #ABB2B9;
    --quotes-border-color: #EAECEE;
}

.title {
    color: var(--primary-highlight-color);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

hr {
    display: none;
}

.wrapper {
    max-width: 53rem;
    margin: 0 auto 3rem;
}

header {
    display: flex;
    padding: 0 1rem;
    border-block-end: 1px solid black;
    background-color: var(--primary-highlight-color);
    box-shadow: 0px 3px 15px black;
    justify-content: right;
    align-items: center;

    & ul {
        padding: 0;

        & .navigation-button.home {
            background-color: black;
        }

        & .navigation-button {
            display: inline-block;
            padding: 0.7rem 1rem;
    
            & a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: white;
            }
        }

        & .navigation-button:hover:not(.home) {
            background-color: grey;
        }
    }
}

.cover {
    padding: 3.5rem 0;
    text-align: center;
    background:  linear-gradient(50deg, rgba(0,14,91,1) 0%, rgba(0,89,177,1) 78%);

    & h1, .tagline {
        font-size: 1.5rem;
        font-weight: normal;
        color: white;
    }
    
    & .tagline {
        display: none;
    }

    & .download-button {
        height: 4rem;
        width: 9rem;
        margin-block-start: 1rem;
        border: 0;
        border-radius: 0.45rem;
        font-size: 1.5rem;
        background-image: linear-gradient(to bottom,#08c,#04c);
        color: white;
        cursor: pointer
    }
}

.margin-wrapper {
    margin: 0 1rem;
}

#highlights {
    display: none;
}

.showcase {
    margin-block-start: 2rem;
    gap: 1.5rem;
    grid-template: auto / 1fr 1fr 1fr;
    grid-template-areas: 
    "description description positive-comments";

    & .about, h2:first-child, .feature {
        margin-block-start: 0;
        margin-block-end: 1rem;
    }

    & .about p, ul {
        margin: 1rem 0;
    }

    & .description {
        grid-area: description;
    }

    & .feature h3 {
        margin-block-end: 0.5rem;
        font-weight: normal;
    }

    & .positive-comments-sidebar {
        display: flex;
        color: var(--quotes-font-color);
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        grid-area: positive-comments;

        & blockquote {
            font-size: 1.2rem;
            border-left: 5px solid var(--quotes-border-color);
            padding-left: 5%;
        }

        & cite {
            font-size: small;
        }

        & a {
            color: var(--primary-highlight-color);
            text-decoration: none;
        }
    }
}

@media screen and (min-width: 36.25rem) {
    .features {
        column-count: 2;

        & h2 {
            column-span: all;
        }
    }

    .feature {
        break-inside: avoid;
    }
}

@media screen and (min-width: 53rem) {
    hr {
        display: revert;
        margin: 1rem 0;
    }

    .cover {
        & .tagline {
            display: revert;
        }
    }

    #highlights {
        display: flex;
        margin: 2rem 0;
        text-align: center;
        justify-content: space-between;
        gap: 30px;

        & h2 {
            text-wrap: nowrap;
            font-size: 1.3rem;
            font-weight: normal;
        }
    }

    .showcase {
        display: grid;
    }
}